.m3-icon {
  font-family: "Material Symbols Outlined", system-ui;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  font-size: 20px;
}

.m3-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
