body.m3-dark {
  background-color: var(--m3-color-surface);
  color: var(--m3-color-on-surface);
}

body.m3-dark .m3-card {
  background-color: #202124;
}

body.m3-dark .m3-hourly-chip {
  background-color: #303134;
}

body.m3-dark .m3-daily-row:nth-child(odd) {
  background-color: #303134;
}
